body {
    background-image: url('https://marketplace.canva.com/EAFTQEWI-Ko/1/0/1600w/canva-black-sky-galaxy-stars-desktop-wallpaper-iWMZ0xN6KXs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.pagenotfound h3 {
    font-size: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-family: 'ArcadeClassic', sans-serif;

}

.pagenotfound h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagenotfound p {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 5px;
  
}

a:hover {
    transform: scale(1.3);
    color: red;
}
@media (min-width:479px and max-width: 768px) {
    .pagenotfound h3 {
      font-size: 8vw;
      
    }

.back{
    font-size: 1rem;
    
}}
@media (max-width: 480px) {
    .pagenotfound h1 {
      font-size: 2rem; 
      margin: 10px 0; 
    }
  
    .pagenotfound p {
      font-size: 1.5rem; 
      margin: 10px 0; 
    }
  
    .back {
      font-size: 1rem; 
      padding: 5px 10px; 
    }
  }